th {
    background-color:firebrick;
    
    color: blanchedalmond;
}

td {
    background-color: white;
    color: black;
}

a {
    color: black;
    text-decoration: none;
}



* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

th,
td {
    padding: 5px 10px;
}

table,
th,
td {
    border: 0px solid black;

}

table {
    font-size: 50px;
    margin: 4% auto;
}




body {
    height: 150vh;
    background-color: black;
    background-image: url(../imagens/fundo.webp);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;

}

.tabela-jogos {
    text-align: center;
    font-size: 25px;
    margin: 1% auto;

}
.negrito {
    font-weight: bold;
   }